@font-face {
  font-family: "PrintAble4U";
  src: url(./assets/fonts/PrintAble4U/PrintAble4U_Regular_ver_1.00.otf);
}

/* @font-face {
  font-family: "PrintAble4U";
  src: url(./assets/fonts/PrintAble4U/PrintAble4U_Italic_ver_1.00.otf);
  font-weight: bold;
} */

body,div,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: "PrintAble4U";
}

